@charset "utf-8";
/*reset*/
*{margin:0; box-sizing:border-box;}
al, li, ol {list-style:none; margin:0; padding:0;}
a {text-decoration:none;}
/* ✅ 텍스트 선택 방지 (필요 시) */
body, input, textarea, button, select, a, p, div, span {
	user-select: none;
}